{% extends 'index.html' %}

{%block jscript%}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>
  setInterval(data_reload,30000);

function data_reload(){
  $("#timer").load("{{url_for('Dash')}} #timer")
}
</script>

{%endblock jscript%}

{% block content %}
<h3 id="timer"class="my-2"> Last Update :{{value}}</h3>
<div class="mb-4">
    {% for msg in data %}
    <div class="flex mb-4">
        <div class="flex-1 w-full rounded-xl bg-gray-200 h-18">
            <p class="mx-8 my-5 float-left" title="Time Left :{{msg['value']//3600}} Hours">{{msg['message']}}</p>
            <button type="button" class="float-right mx-8 my-6">Copy Text</button>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock content %}