{% extends 'index.html' %}

{% block content %}
<div class="h-56 grid grid-cols-4 gap-3 content-start ...">
    <div class="bg-gray-700 w-1/3">01</div>
    <div class="bg-gray-700 w-1/3">02</div>
    <div class="bg-gray-700 w-1/3">03</div>
    <div class="bg-gray-700 w-1/3">04</div>
    <div class="bg-gray-700 w-1/3">05</div>
    <div class="bg-gray-700 w-1/3">06</div>
    <div class="bg-gray-700 w-1/3">07</div>
    <div class="bg-gray-700 w-1/3">08</div>
    <div class="bg-gray-700 w-1/3">09</div>
    <div class="bg-gray-700 w-1/3">05</div>
    <div class="bg-gray-700 w-1/3">05</div>
    <div class="bg-gray-700 w-1/3">05</div>
  </div>
{% endblock content %}